* {
    font-family: serif;
}

h2 {
    text-align: center;
}

fieldset, form {
    display: grid;
    grid-column: 1;
    border: 1px solid gold;
    /* border: none; */
    margin: 5px;
    max-width: 600px;
}

 label {
    padding: 5px 10px 5px 10px;
}

label *{
    width: 95%;
}

button{
    width: 200px;
    padding: 10px;
    justify-self: center;
    margin-top: 10px;
    display: contents;
}