#movies ul{
    list-style: none;
    padding: 0;
    margin: 5px;
}

#movies li {
    display: grid;
    grid-template-columns: 200px 250px;
    border: 1px solid gold;
    max-width: 450px;
}

.info {
    width: auto;
    padding: 2px;
    border-radius: 50%;
    background-color: gold;
    border: none;
}

.availability {
    width: 100px;
    margin: auto;
}

.image {
    /* height: 200px; */
    width: 150px;
    border: 1px solid gold;
    margin: 5px 0 5px 10px;
}